/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; } 
/* Global
********************/
body { 
    font-size: 16px; 
    line-height: 32px;
    font-family:  Ubuntu, sans-serif ;
    color: black;
}

h1 {
    font-size: 2.5em;
    color: black;
    padding-bottom: 10px;
}

h2 {
    color: black;
    font-size: 1.7em;
    text-align: center;
    border-bottom: 4px solid #001021;
}

.content-wrap {
    margin: 50px auto;
    max-width: 950px;
    overflow: hidden;
}

.blocking-large{
    width: 40%;
    float: left; 
    overflow: hidden;
}

.blocking-small{
    width: 60%;
    float: left;
    overflow: hidden;
}
/* Header & Footer
*******************/
header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 950px;
    background: #FEB95F;
}

header, footer, footer a {
    text-align: center;
    color: black;
}

header img {
    width: 150px;
    border-radius: 50%;
    height: 150px;
    float: right;
    overflow: hidden;
}

footer {
    font-size: 10px;
}


/* Navigation
*******************/

nav {
    background: #001021;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    text-align: center;
}

nav a {
    text-decoration: none;
    display: inline-block;
    padding: 0px 14%;
    color: white
}

nav a:hover {
    background: white;
    color: red;
}