@media only screen and (min-width: 600px){
    header, footer, main {

    }
    
    header h1 {
        font-size: 2.5em;
    }
    
    header img {
        width: 70px;
        height: 70px;
    }
    
    .nav {
        display: grid;
        align-content: center;
    }
    
    nav li {
        list-style: none;
        display: inline-block;
        padding: 0px 25px;
        margin: 0 auto;
    }
    
    nav a {
        font-size: 2em;
    }
    
    footer {
        margin-bottom: 0;
    }
}