

* { box-sizing: border-box;}

body {
  font-size: 16px;
  font-family: arial;
}

header, nav, main, footer { 
  max-width: 400px; 
  text-align: center;
}

/*Header
************************/
header {}
header h1 {}
header img {
    width: 40px;
    height: 40px;
}
header .subheading {}


/*Navigation
************************/
nav {}
nav button {}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    text-decoration: none;
    display: inline-block;
    padding: 15px;
    margin:  0px;
}
nav ul li.active a {}
nav ul li a:hover {
    background-color: #4CAF50;
}

/*Main
************************/
main {}
main h2 {}
main figure { margin: 0 0 .2rem 2%; width:96%; }
main img {
    max-width: 200px;
    max-height: 200px;
}
main figure img {
    /*width: 400px;
    height: 400px;*/
}
.forecast {
    display: none;
}

.town-article img {
    display: inline-block;
}

.town-article h4, .town-article p {
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

/*Footer
************************/
footer {}