/* Delete these CSS comments after reading. */
/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 16px;
  font-family: ubuntu, sans-serif;
}

header, nav, main, footer { /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
  max-width: 90%;
  margin: 0 auto;
    /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
}

header {
    background: #28536b;
    margin: 0 auto;
}
header h1 {
    margin: 0 auto;
    color: white;
}
header img {
    width: 50px;
}
header .subheading {}

button {
    float: right;
}

nav {}
nav button {}
nav ul {
    background: #FFE66D;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}
nav ul li {
    list-style: none;
    padding: 5px;
}
nav ul li a {
    text-decoration: none;
    color: black;
}
nav ul li.active a {}
nav ul li a:hover {
    color: white;
    background: #1B3B6F;
}

main {}
main h2 {}
main figure { 
    margin: 0 0 .2rem 2%; width:96%; 
}
main figure img {}

.current img {
    width: 25px;
}

main article img {
    width: 200px;
}

footer {}

.forecast {
    display: none;
}