

* { box-sizing: border-box;}

body {
  font-size: 16px;
  font-family: arial;
}

header, nav, main, footer { 
  max-width: 600px; 
  margin: 0 auto;
  text-align: center;
}

/*Header
************************/
header {
    background: #28536B;
}
header h1 {}
header img {
    width: 40px;
    height: 40px;
}
header .subheading {}

button {}
/*Navigation
************************/
nav {
    background: #333;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}
nav ul li {
    display: block;
}
nav ul li a {
    text-decoration: none;
    display: block;
    padding: 15px;
    color: white;
}
nav ul li.active a {}
nav ul li a:hover {
    background: darkgreen;
}

.topnav {
    background-color: #333;
    overflow: hidden;
    display: none;
}

.responsive {
    display: block;
}

/*Main
************************/
main {}
main h2 {}
main figure { margin: 0 0 .2rem 2%; width:96%; }
main img {
/*    max-width: 200px;
    max-height: 200px;*/
}
main figure img {
    /*width: 400px;
    height: 400px;*/
}
.forecast {
    display: none;
}

.town-article img {
    display: inline-block;
}

.town-article h4, .town-article p {
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

/*Footer
************************/
footer {}