* { box-sizing: border-box;}

body {
  font-size: 16px;
  font-family: arial;
  background-image: url("taylorbailey97.github.io/cit230/lesson-7/images/background.jpg");
}

header, nav, main, footer { 
  max-width: 600px; 
  margin: 0 auto;
  text-align: center;
}

/*Header
************************/
header {
    background: #28536B;
    color: white;
}
header h1 {}
header img {
    width: 40px;
    height: 40px;
}
header .subheading {}

button {}
/*Navigation
************************/
nav {
    background: #333;
}

nav ul {
    list-style: none;
    padding: 20px;
    overflow: hidden;
    background-color: #333;
    /*text-align: center;*/
}
nav ul li {
    margin: 20px auto;
}
nav ul li a {
    text-decoration: none;
    color: white;
}
nav ul li.active a {}
nav ul li a:hover {
    background: darkgreen;
}

.navFlex-item {
    padding: 25px;
}

.topnav {
    background-color: #333;
    overflow: hidden;
    display: none;
}

.responsive {
    display: flex;
    max-width: 200px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
}

/*Main
************************/
main {}
main h2 {}
main figure { margin: 0 0 .2rem 2%; width:96%; }
main img {}
main figure {
    display: flex;
    justify-content: center;
    align-content: center;
}

.weather-summary {
    text-align: center;
    color: ;
}

h3 {
    text-align: center;
    background: #087F8C;
    padding: 10px;
}

.weather-container {
    display: flex;
    justify-content: space-around;
}


.forecast {
    display: none;
}

.article-flex {
    display: flex;
    max-width: 400px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.town-article {
    border: 2.5px solid black;
    margin: 25px;
}

/*Footer
************************/
footer {
    background: #28536B;
    padding: 20px;
    color: white;
}